/*
STYLING FOR HERO VIDEO SECTION
*/
.heroMain {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 110vh;
  width: 100%;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}
/*
END STYLING FOR HERO VIDEO SECTION
*/
